# Ignore system files
.DS_Store
Thumbs.db
random_forest_model.pkl

# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
venv/
env/
myvenv/


# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore log files
*.log

config.ini
random_forest_model.pkl
