# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore log files
*.log

config.ini
