{% extends "base.html" %}
{% block title %}Check Pastes{% endblock %}
{% block header %}Check Pastes{% endblock %}
{% block content %}

<form action="/checkPastes" method="post" enctype="multipart/form-data">
<input type="text" name="terms" id="terms" >
    <input type="submit" value="submit">
</form>

{%if result is defined %}
{% for paste in result %}
<div class="card mb-3" > 
  <h5 class="card-title">Paste ID {{ paste.id }}</h5>
  <p class="card-text">Time: {{ paste.time }}</p>
  <p class="card-text">{{ paste.text }}</p>
  <form id="saveForm" action="/save" method="POST">
    <input type="hidden" name="card_to_save" value="{{ {'title': 'Paste: ' + paste.id , 'results': {'Terms searched': paste.terms ,'Time': paste.time , 'text':  paste.text  }} }}">
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
{% endfor %}
{% endif %}

{% endblock %}