{% extends "base.html" %}
{% block title %}Footprinting{% endblock %}
{% block header %}Recent Cybersecurity news from X{% endblock %}
{% block content %}


{%if result is defined %}
{% for tweet in result %}
<div class="card mb-3"    
            {% if tweet.prediction == 0 %} style="background-color: #FFFFFF;" 
            {% elif tweet.prediction == 1 %} style="background-color: #FA8072;"
            {% elif tweet.prediction == 2 %} style="background-color: #FFFACD;"
            {% elif tweet.prediction == 3 %} style="background-color: #AFE1AF;"
            {% else %} style="background-color: #FFFFFF;"
            {% endif %}> 
  <h5 class="card-title">Tweet</h5>
  <p class="card-text">Created at {{ tweet.created_at }}</p>
  <p class="card-text">{{ tweet.full_text }}</p>
  <p class="card-text"></p>
  <form id="saveForm" action="/save" method="POST">
    <input type="hidden" name="card_to_save" value="{{ {'title': 'Tweet', 'risk': tweet.prediction, 'results': {'Created at': tweet.created_at,'Text': tweet.full_text }} }}">
    <button type="submit" class="btn btn-primary">Save</button>
  </form> 
</div>
{% endfor %}
{% endif %}

{% endblock %}